$blue-afp-color: #3F56A1;
$light-blue-afp-color: #4DA7C2;
$yellow-afp-color: #EBEB23;
$gray-afp-color: #F2F2F2;
//fonts
$font-family-Bold:"DINPro-Bold";
$font-family-Light:"DINPro-Light";
$font-family-Medium:"DINPro-Medium";
$font-family-Regular:"DINPro-Regular";
//containers
$header-height:100px;
$navbar-height:45px;
$row-height:40px;
