<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-6 table-title">
              <span style="color: blue;">
                  <font size="4">LISTA DE CURSOS</font>
              </span></div>

      </div>
  </div>

  <p-table [value]="rowsCursos" class="table table-hover" [lazy]="true" [columns]="cols" [rows]="page.sizePerPage"
      #dataTableComp selectionMode="single" (onLazyLoad)="loadSolicityLazy($event)" [totalRecords]="page.totalElements"
      [(selection)]="selectedCurso" (loading)="isLoading" [responsive]="true" [paginator]="false">
      <ng-template pTemplate="header">
          <tr align="center">             
              <th style="width: 4.5em">Codigo</th>
              <th style="width: 7.5em">Nombre</th>
              <th style="width: 3em">Descripción</th>
              <th style="width: 3em">Año</th>             
              <th style="width: 6em">Editar</th>
              <th style="width: 4.5em">Alumnos Inscritos</th>
              <th style="width: 3em">Anular</th>                    
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
          <tr >             
              <td align="center">{{row.codigo}}</td>
              <td align="center">{{row.nombre}}</td>
              <td align="center">{{row.descripcion}}</td>
              <td align="center">{{row.anio}}</td>            
              <td align="center">
                  <ng-container>
                      <button type="button" title="Editar" (click)="editar(row)" class="btn btn-primary">
                          <i class="fa fa-edit"></i>
                      </button>
                  </ng-container>
              </td>
              <td align="center">
                  <ng-container>
                      <button id="btnRepF1" type="button" title="Ver Alumnos" class="btn btn-primary" (click)="verAlumnos(row)">
                          <i class="fa fa-eye"></i>
                      </button>
                  </ng-container>
              </td>
              <td align="center">
                  <ng-container >
                      <button type="button" title="Anular" class="btn btn-primary" (click)="anular(row)">
                          <i class="fa fa-close"></i>
                      </button>
                  </ng-container>
              </td>           
          </tr>
      </ng-template>
  </p-table>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>       
        <div class="col" style="text-align:right">
            {{page.totalElements}} Registros encontrados
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-top:15px">
    <div class="row">
        <div class="col"></div>
        <div class="col-11">         
            <button class="btn-afp btn-afp-blue text-yellow" (click)="showModal(null)">
                <i class="fa fa-plus"></i> Registrar Curso </button>      
        </div>
    </div>
</div>

<p-dialog [resizable]="false" [showHeader]="false" [closable]="false" [(visible)]="displayProgressBar" [width]="120"
    [height]="150" modal="modal" [responsive]="true" [contentStyle]="{'overflow-x':'hidden','overflow-y':'hidden'}">
    <div class="loader" align="center"></div>
</p-dialog>

<p-dialog baseZIndex="100" class="dialogHeader" [(visible)]="displayModal" modal="modal" width="600" [responsive]="true"
    [draggable]="false">
    <p-header class="dialogHeader">
        {{titleModal}}
    </p-header>
    <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <div class="col-sm-12">
            <div class="form-group row">
                <label for="codigo" class="col-4 col-form-label label-afp">Código</label>
                <div class="col-8">
                    <input required type="text" pInputText id="codigo" name="codigo" #codigo="ngModel" [ngModel]="codigoCurso"/>          
                
                </div>
            </div>

            <div class="form-group row">
                    <label for="nombre" class="col-4 col-form-label label-afp">Nombre</label>
                    <div class="col-8">
                        <input required type="text" pInputText id="nombre" name="nombre" #nombre="ngModel" [ngModel]="nombreCurso"/>          
                    
                    </div>
            </div>
            <div class="form-group row">
                <label for="anio" class="col-4 col-form-label label-afp">Año</label>
                <div class="col-8">
                    <input required type="text" pInputText id="anio" name="anio" #anio="ngModel" [ngModel]="anioCurso"/>       
                  
                </div>
            </div>

            <div class="form-group row">
                    <label for="descripcion" class="col-3 col-form-label label-afp">Descripción</label>
                    <div class="col-12">
                            <p-editor required id="descripcion" name="descripcion" #descripcion="ngModel"
                            [ngModel]="descripcionCurso" [style]="{'height':'200px'}">
                            <p-header>
                                <span class="ql-formats">
                                    <button class="ql-bold" aria-label="Bold"></button>
                                    <button class="ql-italic" aria-label="Italic"></button>
                                    <button class="ql-underline" aria-label="Underline"></button>
                                </span>
                            </p-header>
                        </p-editor>                     
                    </div>
            </div>
        </div>
        <div align="center">
            <button class="btn-afp btn-afp-blue" type="submit">
                <i class="fa fa-check"></i> Guardar
            </button>
            <button class="btn-afp btn-afp-light-blue" type="button" [disabled]="isPreview" (click)="displayModal=false;isPreview=false">
                <i class="fa fa-close"></i> Cancelar
            </button>
        </div>
        <hr>
        <p-footer> </p-footer>
    </form>
</p-dialog>

<p-dialog baseZIndex="100" class="dialogHeader" [(visible)]="displayModalAlumnos" modal="modal" width="900" [responsive]="true"
    [draggable]="false">
    <p-header class="dialogHeader">
        {{titleModal}}
    </p-header>
    <div class="main-content">
    <p-table [value]="rowsAlumnos" class="table table-hover" selectionMode="single" [(selection)]="selectedCar" [rows]="page.sizePerPage" 
      #dataTableComp [totalRecords]="page.totalElements"
      [responsive]="true" [paginator]="false">
      <ng-template pTemplate="header">
          <tr align="center">             
              <th style="width: 4.5em">Nombres</th>
              <th style="width: 7.5em">Apellidos</th>
              <th style="width: 3em">Telefono</th>
              <th style="width: 3em">Fecha de Nacimiento</th>             
              <th style="width: 6em">Email</th>
              <th style="width: 4.5em">Direccion</th>
              <th style="width: 3em">Eliminar</th>                    
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
          <tr>             
              <td align="center">{{row.nombres}}</td>
              <td align="center">{{row.apellidos}}</td>
              <td align="center">{{row.telefono}}</td>
              <td align="center">{{row.fechaNacimiento}}</td>            
              <td align="center">{{row.email}}</td>
              <td align="center">{{row.direccion}}</td>        
              <td align="center">
                  <ng-container >                  
                    <button type="button" title="Anular" class="btn btn-primary" (click)="eliminarAlumno(row._id)">
                        <i class="fa fa-close"></i>
                    </button>
                  </ng-container>
              </td>           
          </tr>
      </ng-template>
  </p-table>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>       
        <div class="col" style="text-align:right">
            {{page.totalElements}} Registros encontrados
        </div>
    </div>
</div>
<div align="center">    
        <button class="btn-afp btn-afp-blue" type="button" (click)="showModalAgregarAlumno(null)">
                <i class="fa fa-plus"></i> Agregar Alumno
        </button>   
        <button class="btn-afp btn-afp-light-blue" type="button" (click)="displayModalAlumnos=false;isPreview=false">
            <i class="fa fa-close"></i> Cerrar
        </button>
    </div>
</p-dialog>

<p-dialog baseZIndex="100" class="dialogHeader" [(visible)]="displayModalAddAlumno" modal="modal" width="600" [responsive]="true"
    [draggable]="false">
    <p-header class="dialogHeader">
        {{titleModalAddAlumno}}
    </p-header>
    <form #form2="ngForm" (ngSubmit)="agregarAlumno(form2.value)">
        <div class="col-sm-12">
            <div class="form-group row">
                <label for="nombres" class="col-4 col-form-label label-afp">Nombres</label>
                <div class="col-8">
                    <input required type="text" pInputText id="nombres" name="nombres" #nombres="ngModel" [ngModel]="nombresAlumno"/>               
                </div>
            </div>

            <div class="form-group row">
                <label for="apellidos" class="col-4 col-form-label label-afp">Apellidos</label>
                <div class="col-8">
                    <input required type="text" pInputText id="apellidos" name="apellidos" #apellidos="ngModel" [ngModel]="apellidosAlumno"/>               
                </div>
            </div>

            <div class="form-group row">
                    <label for="telefono" class="col-4 col-form-label label-afp">Teléfono</label>
                    <div class="col-8">
                        <input required type="text" pInputText id="telefono" name="telefono" #telefono="ngModel" [ngModel]="telefonoAlumno"/>          
                    
                    </div>
            </div>
            <div class="form-group row">
                <label for="fechaNacimiento" class="col-4 col-form-label label-afp">Fecha de Nacimiento</label>
                <div class="col-8">
                    <input required type="text" pInputText id="fechaNacimiento" name="fechaNacimiento" #fechaNacimiento="ngModel" [ngModel]="fechaNacimientoAlumno"/>      
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-4 col-form-label label-afp">Email</label>
                <div class="col-8">
                    <input required type="text" pInputText id="email" name="email" #email="ngModel" [ngModel]="emailAlumno"/>      
                </div>
            </div>

            <div class="form-group row">
                <label for="direccion" class="col-4 col-form-label label-afp">Dirección</label>
                <div class="col-8">
                    <input required type="text" pInputText id="direccion" name="direccion" #direccion="ngModel" [ngModel]="direccionAlumno"/>      
                </div>
            </div>
        </div>
        <div align="center">
            <button class="btn-afp btn-afp-blue" type="submit">
                <i class="fa fa-check"></i> Guardar
            </button>
            <button class="btn-afp btn-afp-light-blue" type="button" [disabled]="isPreview" (click)="displayModalAddAlumno=false;isPreview=false">
                <i class="fa fa-close"></i> Cancelar
            </button>
        </div>
        <hr>
        <p-footer> </p-footer>
    </form>
</p-dialog>
<p-confirmDialog header="Confirmación de Anulación" icon="fa fa-question-circle" width="425" #cd>
        <p-footer>
            <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
            <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
        </p-footer>
</p-confirmDialog>
<app-notification></app-notification>